$word: keep-all;
$menu-font-color: rgba(255, 255, 255, 0.7);
$profile-font-color: rgba(80, 80, 80, 0.8);
$random-bg-color: #060e21;
$random-font-color: #fff;
$random-btn-color: #fff;
$several-sec-color: #000;
$several-font-size: 20px;
$footer-bg-color: rgb(32, 32, 32);
$section-height: 80vh;
